.match-layout-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-row {
  padding: 16px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s, transform 0.2s;
  border-bottom: 1px solid rgba(255,255,255,0.05);

  &:not(.completed):not(.finalized) {
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.05) !important;
      transform: translateX(4px);
    }
  }

  &.team1-win { background: rgba(255, 230, 0, 0.15) !important; }
  &.team2-win { background: rgba(255, 230, 0, 0.15) !important; }
}

@media (min-width: 901px) {
    .match-layout-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: max-content;
        align-items: start;
        gap: 30px;
    }

    .teams-block {
        grid-column: 2;
        grid-row: 1;
    }

    .stats-block {
        grid-column: 2;
    }

    .timeline-block {
        grid-column: 1;
        grid-row: 1 / span 10;
    }
}
